In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [29]:
# Load the dataset 
df = pd.read_csv("/home/inventor/Datasets/Medical Cost/Medical_Cost/insurance.csv")

df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [30]:
df.shape

(1338, 7)

In [31]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [32]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [34]:
df.duplicated().sum()

np.int64(1)

In [35]:
df.drop_duplicates(inplace=True)

In [36]:
num_cols = [col for col in df.columns if df[col].dtype in ["float64", "int64"]]
cat_cols = [col for col in df.columns if df[col].dtype not in ["float64", "int64"]]

In [37]:
# Normalize the data
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df[["bmi", "charges"]] = scaler.fit_transform(df[["bmi", "charges"]])

df.head()

   age     sex       bmi  children smoker     region   charges
0   19  female  0.321227         0    yes  southwest  0.251611
1   18    male  0.479150         1     no  southeast  0.009636
2   28    male  0.458434         3     no  southeast  0.053115
3   33    male  0.181464         0     no  northwest  0.333010
4   32    male  0.347592         0     no  northwest  0.043816

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1337 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1337 non-null   int64
 1   sex       1337 non-null   object
 2   bmi       1337 non-null   float64
 3   children  1337 non-null   int64
 4   smoker    1337 non-null   object
 5   region    1337 non-null   object
 6   charges   1337 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 83.6+ KB

In [39]:
df["age"] = df["age"].astype("int64")
df["children"] = df["children"].astype("int64")

df.head()

   age     sex       bmi  children smoker     region   charges
0   19  female  0.321227         0    yes  southwest  0.251611
1   18    male  0.479150         1     no  southeast  0.009636
2   28    male  0.458434         3     no  southeast  0.053115
3   33    male  0.181464         0     no  northwest  0.333010
4   32    male  0.347592         0     no  northwest  0.043816

In [55]:
from sklearn.preprocessing import OneHotEncoder

one_hot = OneHotEncoder(sparse_output=False, handle_unknown="ignore", drop="first", dtype=np.int64)

encoder = one_hot.fit_transform(df[cat_cols])

encoded_df = pd.DataFrame(encoder, columns=one_hot.get_feature_names_out(cat_cols), dtype=np.int64)

encoded_df = pd.concat([df, encoded_df], axis=1)

encoded_df = encoded_df.drop(columns=["sex", "smoker", "region"], axis=1)

In [56]:
encoder

array([[0, 1, 0, 0, 1],
       [1, 0, 0, 1, 0],
       [1, 0, 0, 1, 0],
       ...,
       [0, 0, 0, 1, 0],
       [0, 0, 0, 0, 1],
       [0, 1, 1, 0, 0]])

In [57]:
encoded_df.head()

,age,bmi,children,charges,sex_male,smoker_yes,region_northwest,region_southeast,region_southwest
0,19.0,0.321227,0.0,0.251611,0.0,1.0,0.0,0.0,1.0
1,18.0,0.479150,1.0,0.009636,1.0,0.0,0.0,1.0,0.0
2,28.0,0.458434,3.0,0.053115,1.0,0.0,0.0,1.0,0.0
3,33.0,0.181464,0.0,0.333010,1.0,0.0,1.0,0.0,0.0
4,32.0,0.347592,0.0,0.043816,1.0,0.0,1.0,0.0,0.0

In [58]:
encoded_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1338 entries, 0 to 581
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age               1337 non-null   float64
 1   bmi               1337 non-null   float64
 2   children          1337 non-null   float64
 3   charges           1337 non-null   float64
 4   sex_male          1337 non-null   float64
 5   smoker_yes        1337 non-null   float64
 6   region_northwest  1337 non-null   float64
 7   region_southeast  1337 non-null   float64
 8   region_southwest  1337 non-null   float64
dtypes: float64(9)
memory usage: 104.5 KB

In [64]:
encoded_df.dropna(inplace=True)

In [69]:
encoded_df["age"] = encoded_df["age"].astype("int64")
encoded_df["children"] = encoded_df["children"].astype("int64")
encoded_df["sex_male"] = encoded_df["sex_male"].astype("int64")
encoded_df["smoker_yes"] = encoded_df["smoker_yes"].astype("int64")
encoded_df["region_northwest"] = encoded_df["region_southwest"].astype("int64")
encoded_df["region_southwest"] = encoded_df["region_southwest"].astype("int64")
encoded_df["region_southeast"] = encoded_df["region_southeast"].astype("int64")

In [70]:
encoded_df.head()

,age,bmi,children,charges,sex_male,smoker_yes,region_northwest,region_southeast,region_southwest
0,19,0.321227,0,0.251611,0,1,1,0,1
1,18,0.479150,1,0.009636,1,0,0,1,0
2,28,0.458434,3,0.053115,1,0,0,1,0
3,33,0.181464,0,0.333010,1,0,0,0,0
4,32,0.347592,0,0.043816,1,0,0,0,0

In [71]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(encoded_df.drop("charges", axis=1), encoded_df["charges"], test_size=0.1, random_state=42)

In [149]:
from sklearn.linear_model import SGDRegressor

lr = SGDRegressor(learning_rate="constant", eta0=0.00001, max_iter=150)

lr.fit(X_train, y_train)

y_pred_sk = lr.predict(X_test)

In [150]:
from sklearn.metrics import r2_score

r2_score_sk = r2_score(y_test, y_pred_sk)

r2_score_sk

0.05441540234415132

In [151]:
X_train = np.array(X_train)
X_test = np.array(X_test)
y_train = np.array(y_train)
y_test = np.array(y_test)

In [152]:
class Schostic_Gradient_Descent():

    def __init__(self, learning_rate, epochs):
        self.coef_ = None
        self.lr = learning_rate
        self.epochs = epochs
    
    def fit(self, X_train, y_train):

        X_train = np.insert(X_train, 0,1, axis=1)
        self.coef_ = np.random.randn(X_train.shape[1]) * 0.01
        
        for i in range(self.epochs):
            for j in range(X_train.shape[0]):

                idx = np.random.randint(0, X_train.shape[0])
                y_hat = np.dot(X_train[idx], self.coef_)

                error = y_train[idx] - y_hat

                coef_slope = np.dot(error, X_train[idx])
                self.coef_ = self.coef_ + (self.lr * coef_slope)
            
        print(f"coef_: {self.coef_}")
    
    def predict(self, X_test):
        X_test = np.insert(X_test, 0,1, axis=1)
        y_pred = np.dot(X_test, self.coef_)
        return y_pred

In [153]:
sgd = Schostic_Gradient_Descent(learning_rate=0.0001, epochs=100)

In [155]:
sgd.fit(X_train, y_train)

coef_: [-0.01099945  0.00357678  0.06833388  0.0079357   0.01400485  0.12664789
 -0.00371294 -0.01556882 -0.01286034]

In [156]:
y_pred = sgd.predict(X_test)

In [157]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.25171741270325354